<section class="heading">
  <div class="container text-center">
      <h1>Willian Rueda</h1>
      <p>Soy un desarrollador full-stack :D</p>
    </div>

    <div class="container profile-image">
      <img src="assets/img/Wa.jpg" alt="profile image">
    </div>
</section>

<main class="description">
  <h2 class="text-center"> Acerca de mi</h2>
  <div class="container text-center">
      <p>Soy un apasionado por el sector TI, actualmente cuento con el cargo de soporte en la Red de Investigaciones de tecnología avanzada de la Universidad Distrital, aqui entre mis tareas mas destacadas esta el apoyo en el desarrollo de modulos de software para fortalecer las plataformas dentro de la universidad. Adicionalmente, tengo conocimientos sobre infraestructura en la nube, metodologías ágiles y cultura DevOps. Actualmente me estoy formando como desarrollador web con Oracle y administrador de la nube de Azure con la Universidad de los Andes.</p>
  </div>
</main>

<section class="details">
  <h2 class="text-center">Detalles</h2>
  <div class="container text-center">
    <h3><strong>Nombre</strong></h3>
    <p>Willian Alejandro Rueda Quiroga</p>
    <h3><strong>Edad</strong></h3>
    <p>24</p>
    <h3><strong>Ubicacion</strong></h3>
    <p>Bogotá - Colombia</p>
  </div>
</section>



<router-outlet></router-outlet>
